.postComponent{
	margin-bottom: 5px;
	color: #fff;
	overflow: auto;
	width: 90%;
	padding: 2.5%;
	margin: 0 auto 2em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	border-radius: 5px;
	background:rgba(255, 255, 255, 0.1);
	position: relative;
}

.postComponent h3{
	text-transform: uppercase;
	font-size: 1.5em;
}

.postComponent hr{
	background: #ffce00;
	width: 60%;
	height: 3px;
	border: none;
	margin: 5px 0 10px 0;
	border-radius: 50px;
}

.comentCounter{
	width: 200px;
	margin: 1em 0 2em;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding: 1%;
	border-bottom: #ffce00 2px solid;
}


.addComentBtn{
	width: 25px;
	height: 25px;
	background-image: url(../img/add.svg);
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
}



/*----------------------------------------------------*/

.postForm{
	position: fixed;
	z-index: 1;
	bottom: 0;
	background: #ffce00;
	width: 65%;
	
}

.postForm form{
	display: flex;
	flex-direction: column;
	justify-content: start;
	width: 90%;
	margin: 1em auto;
	font-family: Arial, Helvetica, sans-serif; 
}

.titlePost{
	margin: 1em 0;
	height: 2em;
	width: 90%;
	font-family: Arial, Helvetica, sans-serif; 
	border-radius: 5px;
	border: 0;
	color: #000;
	padding: 0 5px;
}


.bodyPost{
	height: 4em;
	width: 90%;
	border-radius: 5px;
	border: 0;
	color: #000;
	padding: 5px 5px;
}

.addNewPostBTN{
	width: 70px;
	height: 75px;
	background: url(../img/add.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed;
	bottom: 4em;
	right: 3em;
}

